{:paths ["src"]
 :deps {org.clojure/clojure             {:mvn/version "1.11.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check         {:mvn/version "1.1.1"}
                       com.cognitect/test-runner      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                       :sha     "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
         :exec-fn     cognitect.test-runner.api/test}}}